body {
    font-family: "Sailec";
    font-size: 11px;
    background: rgb(238, 185, 137);
    background: linear-gradient(103deg, rgba(238, 185, 137, 1) 0%, rgba(248, 209, 148, 1) 100%);
    color: #444;
}

#wrapper {
    background: rgb(238, 185, 137);
    background: linear-gradient(103deg, rgba(238, 185, 137, 1) 0%, rgba(248, 209, 148, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 95%;
    max-height: 95%;
    margin: 2em auto;
    border-radius: 6px;
    box-shadow: 0px 30px 35px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;
}


/* FONTS */



@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Bold.eot');
    src: url('../fonts/Sailec-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Bold.woff2') format('woff2'),
        url('../fonts/Sailec-Bold.woff') format('woff'),
        url('../fonts/Sailec-Bold.ttf') format('truetype'),
        url('../fonts/Sailec-Bold.svg#Sailec-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Black.eot');
    src: url('../fonts/Sailec-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Black.woff2') format('woff2'),
        url('../fonts/Sailec-Black.woff') format('woff'),
        url('../fonts/Sailec-Black.ttf') format('truetype'),
        url('../fonts/Sailec-Black.svg#Sailec-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Light.eot');
    src: url('../fonts/Sailec-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Light.woff2') format('woff2'),
        url('../fonts/Sailec-Light.woff') format('woff'),
        url('../fonts/Sailec-Light.ttf') format('truetype'),
        url('../fonts/Sailec-Light.svg#Sailec-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec.eot');
    src: url('../fonts/Sailec.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec.woff2') format('woff2'),
        url('../fonts/Sailec.woff') format('woff'),
        url('../fonts/Sailec.ttf') format('truetype'),
        url('../fonts/Sailec.svg#Sailec') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Medium.eot');
    src: url('../fonts/Sailec-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Medium.woff2') format('woff2'),
        url('../fonts/Sailec-Medium.woff') format('woff'),
        url('../fonts/Sailec-Medium.ttf') format('truetype'),
        url('../fonts/Sailec-Medium.svg#Sailec-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}



/* SCREEN */

.wrapper-screen-container {
    width: auto;
    height: 100%;
}


.wrapper-screen {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding-bottom: 2em;
}

.screen-main-container {
    position: absolute;
    max-height: 80%;
    padding-bottom: .1em;
    overflow-y: scroll !important;
}

#screen-main {
    display: inline-block;
    padding-bottom: 22em;
}

#screen-cart {
    background: #f6f6f9;
    min-height: 100% !important;
    position: relative;
}



#pagination {
    position: fixed;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1em;
    width: 80%;
    height: 60px;
    text-align: center;
    border-radius: 20px;
}

#pagination a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: black;
    margin: 0 .6em 0 .6em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#pagination a:hover {
    color: #e9bc51;
    background: #e9bc51;
}


.page-banner {
    /* background: #f5f4f3;*/
    padding: 10px 0;
    position: relative;
    display: block;
    z-index: 4;
    width: 100%;
    text-align: center;
}

.page-banner h1,
.page-banner p {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding-top: 1em;
}

.page-banner input {
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    background: #beccda;
    border-radius: 6px;
    border: 0;
    font-size: 16px;
    color: #21213e;
    font-family: "Graphik";
}

.page-banner-styling {
    border-top: 10em solid none;
    height: 100px;
    z-index: -100;
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: bottom center;
    pointer-events: none;
}


/* LANDING: ITEM SELECTION */

#selection-area {
    position: absolute;
    bottom: 0;
    left: 0px;
    display: block;
    max-height: 20%;
    height: 210px;
    background: #f7f6f4;
    width: 100%;
    z-index: 999;
    border-radius: 20px;
}

#saved-log .bottom-portion {
    width: 450px;
    max-width: 70%;
    height: 100%;
    float: left;
    text-align: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 1.3em;
    padding: 1em;
    box-sizing: border-box;
}


/* ITEM CONTAINERS */
.item-container {
    background: #fff;
    display: inline-block;
    width: 250px;
    min-width: 45%;
    min-height: 150px;
    padding: .3em;
    margin: 1em .8em .8em .8em;
}

.item-container h1 {
    padding-top: 30px !important;
    font-size: 27px;
    padding: .2em;
    margin: 0;
}

.item-container p {
    margin: 0;
}

.item-inner-name {
    font-size: 18px;
    padding: .3em;
    margin: 0;
}

.item-inner-desc {
    font-size: 14px;
    color: #444;
}



.item-container .item-stat-price label {
    color: #e9a552;
    clear: both;
}

.item-stat-qty,
.item-stat-price {
    font-size: 12px;
}

.item-stat-qty {
    display: inline;
}

.item-stat-qty::before {
    font-weight: 800;
    color: #47415b;
    font-family: "Work Sans";
    content: "# ";
}

.item-stat-price::before {
    font-weight: 600;
    font-family: "Work Sans";
    color: #e9a552;
    content: "$ ";
}

.item-container .item-stat-qty {
    border-bottom: 1px solid #8d8e91;
    font-family: "Roboto Mono";
    float: left;
    display: block;
    width: 70px;
    height: 15px;
    margin-left: .3em;
    margin-bottom: .3em;
    padding: .2em;
    text-shadow: 0 0 20px #ccc;
    color: #626067;
}

.item-container .item-stat-price {
    border-bottom: 1px solid #e9a552;
    font-family: "Roboto Mono";
    float: right;
    margin-right: .3em;
    margin-bottom: .3em;
    display: inline-block;
    width: 70px;
    height: 15px;
    padding: .1em;
    text-shadow: 0 0 20px #ccc;
    color: #626067;
}


.item-inner-select {
    padding-top: 1em !important;
}

.item-inner-option {
    margin-bottom: .3em;
    padding: .8em;
    line-height: 10px;
    font-family: "Sailec";
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    background: #f4f5f7;
}


.item-option-sub {
    display: block;
    color: #ccc;
    border: 0;
    font-family: "Sailec";
    background: 0;
    font-size: 11px;

}

.item-option-sub:hover {
    color: #c4644c
}

.item-option-add:hover {
    color: #494638;
    background: #DCE35B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #45B649, #DCE35B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #45B649, #DCE35B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);


}

.item-option-add {
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #96c93d, #00b09b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    clear: both;
    color: #fff;
    display: inline-block;
    width: 250px;
    border-radius: 5px;
    border: 0;
    margin-top: .3em;
    height: 40px;
}


/* ITEM CONTAINER: LIST FORMAT*/



.item-list {
    display: inline-block;
    width: 250px;
    height: 30px;
    margin: 1em .6em 1em .6em;
}


.item-list h1 {
    font-size: 18px;
    margin: .2em;
    float: left;
}

.item-list .item-stat-price {
    display: none;
}

.item-list .item-stat-qty {
    float: right;
    font-size: 11px;
}

/* form*/

.form-itemname {
    height: 30px;
    padding: .5em;
}

.form-numberval {
    height: 30px;
    padding: .5em;
}

#submit-button {
    background: blue;
    color: #fff;
    padding: 1.3em;
    margin: 1em;
}

.selection-area-button {
    display: inline-block;
    width: 20%;
    font-size: 22px;
    height: 100%;
    text-align: center;
    line-height: 180px;
    background: #e8a23a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e8a23a, #f2cd6f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #e8a23a, #f2cd6f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    float: right;
}

.selection-area-button:hover {

    background: #66b745;
    background: -webkit-linear-gradient(to top, #66b745, #24a04c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #66b745, #24a04c);
}

/*
#tabbed-content li{
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#tabbed-content .tab{
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}

#tabbed-content .tab.active{
    display: block;
}
*/


/* LOG DETAILS */

.log-inner-value {
    color: #7A8187 !important;
    font-family: "Roboto Mono";
}

.log-container {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: .3em .5em .5em .5em;
    margin: 1em;
    max-width: 550px;
    display: inline-block;
}

.log-container h3 {
    margin: 0;
    padding-top: .3em;
    font-size: 16px;
    color: #858b9a;
    font-family: "Graphik";
    font-weight: 400;
}

.log-container span.log-inner {
    font-size: 16px;
    font-family: "Graphik";
    margin: 0 1em 0 1em;
}

.log-container .log-value-user::before {
    content: "Attending: "
}

.log-container .log-value-key::before {
    content: "ID: "
}

.log-container .item-container {
    width: 80%;
    height: 120px !important;
    display: inline-block;

}


.log-container .item-container h1 {
    margin: 0;

}

#log-wrapper {
    text-align: center;
}


/* SAVED LOG */



#saved-log {
    text-align: center;
    width: 75%;
    height: 100%;
    float: left;
}

#saved-log .item-container {
    display: inline-block;
}


.cart-options-wrapper {}


.cart-option-button {
    background: rgb(238, 185, 137);
    padding: 1em;
    border-radius: 15px;
    font-size: 22px;
    width: 300px;
    display: inline-block;
    font-weight: 900;
}

.cart-option-button:hover {
    background: #4860c9;
    color: #fff;
}

/* ETC */


.temp-special a {
    color: blue;
    border-bottom: 2px solid blue;
    padding: 1.3em;
    margin: .3em;
}
